
sbb-title {
  margin-block-start: 0;
}

.summary {
  display: grid; 
  width: 100%;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto; 
  gap: 32px; 
  grid-template-areas: 
    "recommendation history"
}

.back { 
  grid-area: back; 
  text-align: right; 
}

.recommendation { 
  grid-area: recommendation; 
}

.history { 
  grid-area: history; 

  .title-answer {
    width: 100%;
    display: block;
      border-bottom: solid 1px var(--sbb-color-cloud-default);
    }
  
  .question {
    sbb-title {
      margin-block-start: 0;
    }
    margin-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: solid 1px var(--sbb-color-cloud-default);
    
  }
}

p {
  margin:0 0 var(--sbb-spacing-fixed-4x) 0;
  &.answer {
    margin-bottom:0;
  }
}

.button-left {
  margin-right: var(--sbb-spacing-fixed-4x);
}